{% extends 'admin/base.html.twig' %}

{% block title %}Upwork Tracker Dashboard{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
                <h4 class="font-weight-bold text-dark">Hi {{ app.user.email }}, welcome back!</h4>
                <p class="font-weight-normal mb-2 text-muted">{{ "now"|date('d F, Y') }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-4 flex-column d-flex grid-margin stretch-card">
                <div class="row flex-grow">
                    <div class="col-sm-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Total Jobs Tracked</h4>
                                <h4 class="text-dark">{{ totalJobs }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 flex-column d-flex grid-margin stretch-card">
                <div class="row flex-grow">
                    <div class="col-sm-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Pending Alerts</h4>
                                <h4 class="text-dark">{{ pendingAlerts }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 flex-column d-flex grid-margin stretch-card">
                <div class="row flex-grow">
                    <div class="col-sm-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Users</h4>
                                <h4 class="text-dark">{{ totalUsers }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}